<div class="row">
  <div class="col-md-12">
    <div class="container flex full-height">
      <div class="center-box">
        <h2>Cambio de contraseña</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "Nuevo password:" %><br />
          <% if @minimum_password_length %>
            <em>Ha de contener (<%= @minimum_password_length %> carácteres mínimo)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirma nuevo password:" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn btn-primary btn_sign" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- <%= render "devise/shared/links" %> -->
