<!DOCTYPE html>
<html>
  <head>
    <title>IHProject</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="header">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default navbar-fixed-top">
             <div class="container-fluid">
                  <div class="navbar-header">
                 <a class="navbar-brand" href="#">IH Project</a>
               </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                   <li><a href="#">Login</a></li>
                   <li><a href="#">Registrarse</a></li>
                   <li><a href="#">Quienes somos</a></li>
                   <li><a href="#">Condiciones</a></li>
                  </ul>
               </div><!-- /.navbar-collapse -->
             </div><!-- /.container-fluid -->
            </nav>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
        <h1>Estas en menu_top branch</h1>
        <% if user_signed_in? %>
          <h2> Welcome <%= current_user.name %>!</h2>
          <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
        <% else %>
          <h2>Nobody logged in</h2>
        <% end %>
          </div>
        </div>
      </div>
  </header>

    <%= yield %>
  </body>
</html>
